<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="TestNg">
		<!-- <parameter name="host" value="http://192.168.0.1/wd/hub"/> -->
		<parameter name="Username" value="subramanyamjuturu4@gmail.com" />
		<parameter name="Password" value="Bonnechance@123" />
		<parameter name="InvalidUsername" value="subramanyamjuturu@gmail.com" />
		<parameter name="InvalidPassword" value="Bonnechane@123" />
		
		<classes>
			<class name="com.DropBox.Task.OptileTask" />
		</classes>
	</test> <!-- TestNg -->
</suite> <!-- Suite -->
